DEEPL_API_KEY=

# Folders and Files
DICTIONARY_FOLDER=
BLACKLISTED_WORDS_FILE=
WINE_NAMES_FILE=
WINE_TYPES_FILE=
RED_WINE_NAMES=
WHITE_WINE_NAMES=

EDITED_WINE_IMAGES_PATH=

SPELLING_CORRECTION_INPUT_FILE_PATH=
SPELLING_CORRECTION_SAVED_MODELS_PATH=

TESSERACT_CMD_LOCATION=

# Database
HOST=
USER=
PASSWORD=
DATABASE=