.input_option_admin{
    margin-bottom: 10px;
}

.outer_card_wrapper{
    background-color: transparent !important;
    padding: 1% !important;
}

.path_error_wrapper{
    max-height: 400px;
    overflow-y: scroll;
}


#result_do_ocr_eval{
    width: 98%;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}