.input_option_admin{
    margin-bottom: 10px;
}

.outer_card_wrapper{
    background-color: transparent !important;
    padding: 1% !important;
}

.path_error_wrapper{
    max-height: 400px;
    overflow-y: scroll;
}
